<!-- Cashiers Menu Page for Waiter App/Site -->
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <title>Cashier - UNSW Cafe</title>
</head>

<body>
    <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
    <df-messenger
    intent="WELCOME"
    chat-title="UNSW Cafe"
    agent-id="32b538a5-fe56-4ab0-9391-3f2c0f24fc36"
    language-code="en"
    ></df-messenger>

    <div id="logoutApp">

        <nav class="navbar navbar-dark bg-dark navbar-expand-lg sticky-top">
            <img src="../templates/pictures/logo_transp.png" width="40" height="40" alt=""> &nbsp; &nbsp;
            <a class="navbar-brand" style="color:white; text-align: left;">Waiter</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    
                </ul>
                <button class="btn btn-outline-light my-2 my-sm-0" v-on:click="logoutUser()">Logout
                    <span><i class="fas fa-sign-out-alt" aria-hidden="true"></i></span>
                </button>
            </div>
        </nav>
    </div>

    <div class="title2">
        Cashier Menu for UNSW Cafe
    </div>

    <div class="container" style="overflow-x:auto;">
        <!-- Navbar -->
        <ul class="nav nav-pills nav-justified" id="pills-tab" role="tablist">
            <li class="nav-item pill-1">
                <a class="nav-link active" id="billsapp-tab" data-toggle="pill" href="#billsapp" role="tab" aria-controls=billsapp aria-selected="true">Billing</a>
            </li>
            <li class="nav-item pill-1">
                <a class="nav-link" id="dailystats-tab" data-toggle="pill" href="#dailystats" role="tab" aria-controls="dailystats" aria-selected="false">Daily Statistics</a>
            </li>
            <li class="nav-item pill-1">
                <a class="nav-link" id="menu-tab" data-toggle="pill" href="#menu" role="tab" aria-controls="menu" aria-selected="false">Current Menu</a>
            </li>
        </ul>
        <hr>
        
        <!-- Content Section -->
        <div class="tab-content" id="pills-tabContent">

            <!-- Bills Tab -->
            <div class="tab-pane fade show active" id="billsapp" role="tabpanel" aria-labelledby="billsapp-tab">
                <table class="table table-sm table-borderless table-striped table-hover display nowrap">
                    <thead>
                    <tr>
                        <th style="width: 40%">Table Number</th>
                        <th style="width: 40%">Total</th>
                        <th class="text-center" style="width: 20%">View Bill</th>
                    </tr>
                    </thead>
                    <!-- Start of table, dynamic space-->
                    <tbody>
                        <template v-for="(bill,index) in billList">
                            <tr>
                                <td class="align-middle">
                                    Table {{ bill.tableNo }}
                                </td>
                                <td class="align-middle">
                                    $ {{ bill.total.toFixed(2) }}
                                </td>
                                <td nowrap class="text-center align-middle">
                                    <button v-bind:id="bill.tableNo" type="button" class="btn btn-danger" @click="setInfo(bill.tableNo)" data-toggle="modal" data-target="#billModal" data-backdrop="false">View Bill</button>
                                    <button v-on:click.prevent="rowRemove(index)" type="button" class="btn btn-success">Bill Finalised</button>
                                </td>
                            </tr>
                        </template>
                    </tbody>
                </table>
            
        
                <!-- The Modal -->
                    <div class="modal" id="billModal">
                        <div class="modal-dialog">
                            <template>
                                <div class="modal-content">
                            
                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                    <h4 class="modal-title">Bill for Table {{ chosenBill.tableNo }}: Total = ${{ chosenBill.total }}</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                            
                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <template v-for="order in chosenBill.orders">
                                            <b>Order Id: </b>{{ order.id }}<br>
                                            <b>Order Total: </b>{{ getOrderTotal(order.itemList).toFixed(2) }}
                                            <ul>
                                                <template v-for="item in order.itemList">
                                                    <li>{{ item.itemName }}: ${{ item.price.toFixed(2) }}</li>
                                                </template>
                                            </ul>
                                            <hr>
                                            
                                            
                                        </template>
                                        
                                        <div id="orderTotal"></div>
                                    </div>
                            
                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        
                                    </div>
                                </div>
                            </template>
                        </div>
                    </div>
            </div>

            <!-- Daily Stats Tab -->
            <div class="tab-pane fade" id="dailystats" role="tabpanel" aria-labelledby="dailystats-tab">
                <table id=statsapp class="table table-sm table-borderless table-striped table-hover display nowrap">
                    <thead>
                        <tr>
                            <th style="width: 40%">KPI</th>
                            <th style="width: 60%" class="text-right">Score</th>
                        </tr>
                     </thead>
                     <!-- Start of table, dynamic space-->
                     <tbody>
                        <template v-for="item in earnings"></template>
                            <tr>
                                <td class="align-middle">
                                    Total Earnings
                                </td>
                                <td class="align-middle text-right">
                                    {{ item.earnings }}
                                </td>
                            </tr>
                        </template>

                        <template v-for="item in availableTables"></template>
                            <tr>
                                <td class="align-middle">
                                    Available Tables
                                </td>
                                <td class="align-middle text-right">
                                    {{ item.tables_free }}
                                </td>
                            </tr>
                        </template>

                        <template v-for="item in avgPerOrder"></template>
                            <tr>
                                <td class="align-middle">
                                    Average Dishes Per Order
                                </td>
                                <td class="align-middle text-right">
                                    item."what is the name"
                                </td>
                            </tr>
                        </template>

                        <template v-for="item in monthlyEarnings"></template>
                            <tr>
                                <td class="align-middle">
                                    Monthly Earnings
                                </td>
                                <td class="align-middle text-right">
                                    item."what is the name"
                                </td>
                            </tr>
                        </template>

                        <template v-for="item in tableTurnover"></template>
                            <tr>
                                <td class="align-middle">
                                    Table Turnover Rate
                                </td>
                                <td class="align-middle text-right">
                                    item."what is the name"
                                </td>
                            </tr>
                        </template>

                        <template v-for="item in yearlyEarnings"></template>
                            <tr>
                                <td class="align-middle">
                                    Yearly Earnings
                                </td>
                                <td class="align-middle text-right">
                                    item."what is the name"
                                </td>
                            </tr>
                        </template>
                     </tbody>
                </table>
            </div>

            <!-- Menu Tab -->
            <div class="tab-pane fade" id="menu" role="tabpanel" aria-labelledby="menu-tab">
                <table id="menuapp" class="table table-sm table-borderless table-striped table-hover display nowrap">
                    <thead>
                        <tr>
                        <th style="width: 15%">Item</th>
                        <th style="width: 60%">Description</th>
                        <th style="width: 15%;">Category</th>
                        <th style="width: 10%">Price</th>
                        </tr>
                    </thead>
                    <!-- Start of table, dynamic space-->
                    <tbody>
                        <template v-for="item in items">
                            <tr>
                                <td>{{ item.name }}</td>
                                <td>{{ item.description }}</td>
                                <td>{{ getTypeName(item.menu_category)[0].name }}</td>
                                <td>${{ item.price }}</td>
                            </tr>
                            </template>
                    </tbody>
                    </table>
            </div>
        </div>
    </div>
</body>

<!--Boostrap required script-->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<!--Other required script-->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script>

//https://api.unswcafe.tuesdaywaiter.tk/
    var logoutApp = new Vue ({
        el: '#logoutApp',
        delimiters: ['{{', '}}'],
        data: {

        },
        methods: {
            logoutUser: function() {
                console.log("here")
                axios
                    .post('https://api.unswcafe.tuesdaywaiter.tk/rest-auth/logout/', null)
                    .then((response) => {
                        window.open("index.html", "_self")
                    }).catch( error => {console.log(error); return })
            } 
        }
    })

    var menuapp = new Vue ({
        el: '#menuapp',
        delimiters: ['{{', '}}'],
        data: {
            items: [
                // List of Menu Items
			    // item = { name, description, price, menu_category }
            ],
            types: [
                // List of Menu Categories
			    // type = { id, name, menu_item[] }
            ],
            restaurant: { /* id, name */ }
        },
        created() {
            var basicAuth = 'Basic ' + sessionStorage.getItem('btoa')
            axios.defaults.headers.common['Authorization'] = basicAuth

            this.restaurant = JSON.parse(sessionStorage.restaurant)

            axios
                .get('https://api.unswcafe.tuesdaywaiter.tk/menuItems/', { params: { restaurant: this.restaurant.id }})
                .then((response) => {
					this.items = response.data
                }).catch( error => {console.log(error); });
                
            axios
                .get('https://api.unswcafe.tuesdaywaiter.tk/menuCategories/', { params: { restaurant: this.restaurant.id }})
                .then((response) => {
					this.types = response.data
                }).catch( error => {console.log(error); });

            
        },
        methods: {
            getTypeName: function(typeID) {
                return this.types.filter(function(t) {
                    if(t.id == typeID) {
                        return t;
                    }
                })
            }
        }
    })

    var statsapp = new Vue ({
        el: '#statsapp',
        delimiters: ['{{', '}}'],
        data: {
            earnings: [
                
            ],
            availableTables: [

            ],
            avgPerOrder: [

            ],
            monthlyEarnings:[

            ],
            tableTurnover:[ 

            ],
            yearlyEarnings: [

            ],
        },
        created() {
            this.fetchData();
            this.interval = setInterval(() => this.fetchData(), 5000);
        },
        methods: {
            fetchData: function(){
            var basicAuth = 'Basic ' + sessionStorage.getItem('btoa')
            axios.defaults.headers.common['Authorization'] = basicAuth

            this.restaurant = JSON.parse(sessionStorage.restaurant)

            axios
                .get('https://api.unswcafe.tuesdaywaiter.tk/menuItems/' + this.restaurant.id + '/get_all_earnings/')
                .then((response) => {
					this.earnings = response.data
                }).catch( error => {console.log(error); });
                
            axios
                .get('https://api.unswcafe.tuesdaywaiter.tk/menuItems/' + this.restaurant.id + '/get_available_tables/')
                .then((response) => {
					this.availableTables = response.data
                }).catch( error => {console.log(error); });
            
            axios
                .get('https://api.unswcafe.tuesdaywaiter.tk/menuItems/' + this.restaurant.id + '/get_average_dishes_per_order/')
                .then((response) => {
					this.avgPerOrder = response.data
                }).catch( error => {console.log(error); });
            
            axios
                .get('https://api.unswcafe.tuesdaywaiter.tk/menuItems/' + this.restaurant.id + '/get_monthly_earnings/')
                .then((response) => {
					this.monthlyEarnings = response.data
                }).catch( error => {console.log(error); });
            
            axios
                .get('https://api.unswcafe.tuesdaywaiter.tk/menuItems/' + this.restaurant.id + '/get_table_turnover/')
                .then((response) => {
					this.tableTurnover = response.data
                }).catch( error => {console.log(error); });
            
            axios
                .get('https://api.unswcafe.tuesdaywaiter.tk/menuItems/' + this.restaurant.id + '/get_yearly_earnings/')
                .then((response) => {
					this.yearlyEarnings = response.data
                }).catch( error => {console.log(error); });
            
        },
            getTypeName: function(typeID) {
                return this.types.filter(function(t) {
                    if(t.id == typeID) {
                        return t;
                    }
                })
            }
        }
    })

    var billsapp = new Vue ({
		el: '#billsapp',
        delimiters: ['{{', '}}'],
        data: {
            chosenBill: '',
			billList: [
                /*
                {tableNo: '1', total: 36.10, orders: [
                                    { id: '00001', itemList: [ {itemName: "item1", quantity: 1, notes: "Please make fresh", price: 2.50},
                                                            {itemName: "item2", quantity: 2, notes: "Remove tomatoes", price: 5.50},
                                                            {itemName: "item3", quantity: 2, notes: "No peanuts", price: 7.00},
                                                            {itemName: "item4", quantity: 6, notes: "Extra chilli", price: 3.50},
                                                            ]},
                                    { id: '00003', itemList: [ {itemName: "item9", quantity: 1, notes: "Item9 note", price: 1.10},
                                                            {itemName: "item10", quantity: 2, notes: "Item10 note", price: 4.50},
                                                            {itemName: "item11", quantity: 2, notes: "Item11 note", price: 7.50},
                                                            {itemName: "item12", quantity: 6, notes: "Item12 note", price: 4.50},
                                                            ]}
                                ]},
                {tableNo: '2', total: 30.00, orders: [
                                    {id: '00002', itemList: [ {itemName: "item5",quantity: 1, notes: "Remove capsicums", price: 4.50},
                                                    {itemName: "item6", quantity: 1, notes: "Remove tomatoes", price: 6.50},
                                                    {itemName: "item7", quantity: 1, notes: "Steak = Well Done", price: 9.00},
                                                    {itemName: "item8", quantity: 3, notes: "Now prawns", price: 10.00},
                                            ]},
                                ]},
                */
            ]
        },
        created() {
            var basicAuth = 'Basic ' + sessionStorage.getItem('btoa')
            axios.defaults.headers.common['Authorization'] = basicAuth

            axios
                .get('https://api.unswcafe.tuesdaywaiter.tk/orderList/get_cashier_orders/')
                .then((response) => {
                    this.billList = response.data
                }).catch( error => {console.log(error); return })

            this.updateData();
        },
		methods: {
            setInfo: function(tableNo) {
                for(i=0; i < this.billList.length; i++) {
                    if(this.billList[i].tableNo == tableNo) {
                        this.chosenBill = this.billList[i];
                        return;
                    }
                }
            },
            getOrderTotal: function(list) {
                var sum = 0
                for(i = 0; i < list.length; i++) {
                    sum = sum + list[i].price;
                }

                return sum
            },
            getBill: function(number) {
                return this.billList.filter(function(bill) {
					if(bill.tableNo == number) {
						return bill;
					};
				})
            },
            rowRemove: function (index) {
                this.$delete(this.billList, index)
            },
            updateData: function() {
                // timer for auto update 
                setInterval(() => {

                axios
                    .get('https://api.unswcafe.tuesdaywaiter.tk/orderList/get_cashier_orders/')
                    .then((response) => {
                        this.orderList = response.data.filter(item => item.owner == titleApp.userName)
                    }).catch( error => {console.log(error); return});
                    
                }, 5000)
        }, 
		}
	})
</script>

<style>
body {
    background-image: url("pictures/background-texture.jpg");
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif
}

.title {
	font-style: normal; 
	font-variant: normal;
    font-size: 50px;
    position: relative;
    color: white;
    margin-top: 5%;
    text-align: center;
    text-shadow:  2px 2px black;
}

.title2 {
	font-style: normal; 
	font-variant: normal;
    font-size: 40px;
    position: relative;
    color: white;
    text-align: center;
    text-shadow:  2px 2px black;
}


.container {
    background-color: #ECEFF1;
    position: relative;
    border-radius: 20px;
    padding: 5px;
}

.changeScreens {
    position: absolute;
    left: 50%;
    width: 400px;
    transform: translate(-50%, -50%);
}

a {
    color: red;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 768px) {
  .container {
      width: 100%;
  }
}

.nav-pills .pill-1 .nav-link:not(.active) {
    background-color: rgb(255, 255, 255);
    color: red;
}

.nav-pills .pill-1 .nav-link {
    background-color: red;
    color: white;
}

</style>

</html>