<!-- Customer Page (from Login Screen) for Waiter App/Site-->
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <title>Waiter - Customer Details</title>
    </head>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <body>
        
        <div class="title">Customer Page</div>

        <div id="app" class="container">
            <h3 style="text-shadow: 1px 1px black;">Customer Information for {{ username }}</h3>
            <form id="customerInfo" @submit.prevent="processForm" class="customer_info" method="POST">
                <div>
                    <label class="firstName" for="cname">First Name</label>
                    <input class="firstName" v-model="custName.firstName" type="text" id="inputName" name="firstName" placeholder="First name.." required=""><br>
                    <label class="lastName" for="cname">Last Name</label>
                    <input class="lastName" v-model="custName.lastName" type="text" id="inputName" name="firstName" placeholder="Last name.." required="">
                </div>
                
                <hr>
                <p class="header">If you would like a digital receipt of your purchase or discount notices,<br> please fill in the field below:</p>
                <div>
                    <label class="mobile" for="mobile_no">Mobile Number</label>
                    <input class="mobile_no" v-model="mobile" type="tel" id="mobile_no" name="tableno" placeholder="Mobile Number..." pattern="[0-9]{4}-[0-9]{3}-[0-9]{3}">
                    <small>Format: 04xx-xxx-xxx</small>
                </div>
                <hr>
                <p id="errorMessage" style="color: red;"></p>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Enter Details</button>
            </form>
        </div>

        <h1 id="print" style="font-size: 100px;"></h1>

    </body>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    function toOrders() {
        window.open("customer_orders.html", "_self");
    }

    function confirmDetails() {
        var name = document.getElementById("inputName").value;
        var rest = document.getElementById("restaurant").value;
        var table_no = document.getElementById("inputTableNumber").value;
        var email = document.getElementById("inputEmail").value;
        var mobile = document.getElementById("mobile_no").value;

        var message = "Are you sure these are your details?" + "\n\nName: " + name + "\nRestaurant: " + rest + "\nTable Number: " + table_no
                            + "\nEmail Address: " + email + "\nMobile: " + mobile;

        if(confirm(message)) {
            document.getElementById('customerInfo').action = "customer_orders.html";
        } else {
            document.getElementById('customerInfo').action = "customer.html";
        }
    }

    var app = new Vue({
        el: '#app',
        delimiters: ['{{', '}}'],
        data: {
            username: '',
            custName: {firstName: '', lastName: ''},
            mobile: '',
        },
        created() {
            var basicAuth = 'Basic ' + sessionStorage.getItem('btoa')
            axios.defaults.headers.common['Authorization'] = basicAuth

            this.username = sessionStorage.getItem('user')

            axios
                .get('https://api.unswcafe.tuesdaywaiter.tk/restaurant/')
                .then((response) => {
                    this.restaurants = response.data
                }).catch( error => {console.log(error); return });

        },
        methods: {
			processForm: function() {
                // send input to database
                var basicAuth = 'Basic ' + sessionStorage.getItem('btoa')
                axios.defaults.headers.common['Authorization'] = basicAuth

                details = {first_name: this.custName.firstName, last_name: this.custName.lastName}

                if(this.mobile != '') {
                    details.mobile = this.mobile
                }
                

                userName = sessionStorage.getItem('user')

                axios
                    .get('https://api.unswcafe.tuesdaywaiter.tk/profile/')
                    .then((response) => {
                        console.log(response.data)
                        userID = response.data.filter(x => x.username == this.username)[0].user

                        axios
                            .put('https://api.unswcafe.tuesdaywaiter.tk/profile/' + userID + "/", details)
                            .then((response) => {
                                console.log(response.data)
                            }).catch( error => {console.log(error);return })
                        
                        window.open("customer_orders.html", "_self")                        

                    }).catch( error => {console.log(error); return })
    		}
		}
    
    })

</script>


<style>
body {
    background-image: url("../templates/pictures/background-texture.jpg");
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; 
}
.title {
	font-style: normal; 
	font-variant: normal;
    font-size: 50px;
    position: relative;
    color: white;
    text-align: center;
}

.container {
    background: rgba(111, 66, 194, 0.75);
    text-align: center;
    color: white;
    border-radius: 10px;
    width: fit-content;
    padding: 10px;
}

.customer_info {
	font-style: normal; 
	font-variant: normal;
    font-size: 18px;
    color: white;
    text-align: center;
    line-height: 26.4px;
    text-shadow: 1px 1px black;
}

</style>

</html>