<!-- Management Dashboard -->
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src='https://kit.fontawesome.com/a076d05399.js'></script>
        <title>Management - Menu Edit - UNSW Cafe</title>
    </head>
<body>
    <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
    <df-messenger
    intent="WELCOME"
    chat-title="UNSW Cafe"
    agent-id="32b538a5-fe56-4ab0-9391-3f2c0f24fc36"
    language-code="en"
    ></df-messenger>

    <div id="logoutApp">
        <nav class="navbar navbar-dark bg-dark navbar-expand-lg sticky-top">
            <img src="templates/pictures/logo_transp.png" width="40" height="40" alt=""> &nbsp; &nbsp;
            <a class="navbar-brand" style="color:white; text-align: left;">Waiter</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="dashboard.html">Dashboard</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link disabled" href="menu_edit.html" >Edit Menu<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="history.html">Restauraunt History</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="old_items.html">Old Menu Items</a>
                    </li>
                </ul>
                <button class="btn btn-outline-light my-2 my-sm-0" v-on:click="logoutUser()">Logout
                    <span><i class="fas fa-sign-out-alt" aria-hidden="true"></i></span>
                </button>
            </div>
        </nav>
    </div>

    <div id="app">

        <div class="title">Edit Menu for {{ restaurant.name }}</div><br>

        <div class="container" style="background-color: transparent; text-align: center;">
            <button id="addCategory" type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#newCatModal">Add Category</button>
            <button id="addItem" v-on:click="isNew = true" type="button" class="btn btn-lg btn-warning" data-toggle="modal" data-target="#newModal">Add Menu Item</button>
            <button id="saveButton" type="button" class="btn btn-lg btn-success" data-toggle="modal" data-target="#confirmModal">Save Changes</button>
        </div>

        <br>
        <h4 id="message" style="text-align: center;"></h4>

        <!-- Table per category -->
        <div class="container" style="overflow-x:auto;">   
            <template v-for="type in types">
                <div class="categoryTitle" style="text-align: center; background-color: transparent;">{{ type.name }}
                    <span class="table-up"><a href="#!" v-on:click="moveCategoryUp(type.name)" class="indigo-text"><i class="fas fa-long-arrow-alt-up"
                        aria-hidden="true" style='font-size:24px; color: red;'></i></a></span>
                    <span class="table-down"><a href="#!" v-on:click="moveCategoryDown(type.name)" class="indigo-text"><i class="fas fa-long-arrow-alt-down"
                        aria-hidden="true" style='font-size:24px; color: red;'></i></a></span>
                    <button v-bind:id="type.name" type="button" class="btn btn-lg btn-link" v-on:click="setEditingCategory(type.name)" data-toggle="modal" data-target="#editCatModal">
                        <span><i class="fas fa-edit" aria-hidden="true" style='font-size:24px; color: red;'></i></span>
                    </button>
                    <button v-bind:id="type.name" type="button" class="btn btn-lg btn-link" v-on:click="setRemoveCategory(type.name)" data-toggle="modal" data-target="#removeCatModal">
                        <span><i class="fas fa-times" aria-hidden="true" style='font-size:24px; color: red;'></i></span>
                    </button>
                    
                </div><br>  
                    <table v-bind:id="type.name" class="table table-sm table-borderless table-striped table-hover display nowrap" style="text-align: center;">
                        <thead>
                        <tr>
                            <th style="width: 15%">Item Name</th>
                            <th style="width: 35%">Description</th>
                            <th style="width: 10%">Price</th>
                            <th style="width: 15%">Picture</th>
                            <th class="width: 5%">Sort</th>
                            <th class="text-center" style="width: 5%">Edit?</th>
                            <th class="text-center" style="width: 5%">Remove?</th>
                        </tr>
                        </thead>
                        <!-- Start of table, dynamic space-->
                        <tbody>
                            <template v-for="(item,index) in itemsOfType(type.id)"> 
                                <tr id="item.itemName">
                                    <td class="align-middle">{{ item.name }}</td>
                                    <td class="align-middle">{{ item.description }}</td>
                                    <td class="align-middle">${{ item.price }}</td>
                                    <td><img v-bind:id="item.name" v-bind:src="'../../waiter/' + item.picture" align="center" width="150" height="100" v-on:click="viewModal(item.name)"></td>
                                    <td class="align-middle">
                                        <!-- Up Icon -->
                                        <span class="table-up"><a href="#!" v-on:click="moveItemUp(type.id, item.name)" class="indigo-text"><i class="fas fa-long-arrow-alt-up"
                                            aria-hidden="true" style='font-size:24px'></i></a></span>
                                        <!-- Down Icon -->
                                        <span class="table-down"><a href="#!" v-on:click="moveItemDown(type.id, item.name)" class="indigo-text"><i class="fas fa-long-arrow-alt-down"
                                            aria-hidden="true" style='font-size:24px'></i></a></span>
                                    </td>
                                    <td nowrap class="text-center align-middle"> <!-- Edit Icon -->
                                        <button v-bind:id="item.name" type="button" class="btn btn-lg btn-link" v-on:click="seteditingItem(item.name)" data-toggle="modal" data-target="#itemModal">
                                            <span><i class="fas fa-edit" aria-hidden="true" style='font-size:24px'></i></span>
                                        </button>
                                    </td>
                                    <td nowrap class="text-center align-middle"> <!-- Remove Icon -->
                                        <button v-bind:id="item.name" type="button" class="btn btn-lg btn-link" v-on:click="setRemoveItem(item.name)" data-toggle="modal" data-target="#confirmModal">
                                            <span><i class="fas fa-times" aria-hidden="true" style='font-size:24px'></i></span>
                                        </button>
                                    </td>
                                </tr>
                            </template>
                        </tbody>
                    </table>
            </template>

            <!-- New Item Modal -->
            <div class="modal" id="newModal">
                <div class="modal-dialog">
                <div class="modal-content">
            
                    <!-- Modal Header -->
                    <div class="modal-header">
                    <h4 class="modal-title">Add Item</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
            
                    <!-- Modal body -->
                    <div class="modal-body">
                        <template>
                            <form class="itemInfo" @submit.prevent="addNewItem">
                                <label for="itemName">Item Name: </label>
                                <input type='text' id='itemName' name='itemName' required='' v-model="newItem.name" style="width:75%"><br><br>
                                <div class="_quantity">Item Desc: </div>
                                <textarea type='text' id='itemDesc' name='itemDesc' style='min-width: 100%; border: solid 1px black;' v-model="newItem.description" required=''></textarea><br><br>
                                <label for="itemPrice">Price: </label>
                                <input type="text" name="itemPrice" id="itemPrice" style="width:25%" pattern="\d+(\.\d{2})?" v-model="newItem.price" data-type="currency"  required=''>
                                <small>Format: x.xx</small><br><br>
                                <label for="itemCategory">Category: </label>
                                <select id="itemCategory" v-model="newItem.menu_category" class="itemCategory" style="width:50%" required="">
                                    <template v-for="t in types">
                                        <option >{{ t.name }}</option>
                                    </template>
                                </select>
                                <div class="picture">Picture: 
                                    <input type="file" @change="uploadImage" id="img" name="img" accept="image/*">
                                </div>
                            </form>
                        </template>
                    </div>
            
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-lg btn-danger" data-dismiss="modal">Discard</button>
                        <button v-on:click="addNewItem" type="submit" class="btn btn-lg btn-primary" data-dismiss="modal">Add Item</button>
                    </div>
                </div>
                </div>
            </div>

            <!-- Edit Item Modal-->
            <div class="modal" id="itemModal">
                <div class="modal-dialog">
                <div class="modal-content">
            
                    <!-- Modal Header -->
                    <div class="modal-header">
                    <h4 class="modal-title">Edit Item</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
            
                    <!-- Modal body -->
                    <div class="modal-body">
                        <template>
                            <form class="itemInfo" @submit.prevent="saveChanges">
                            <label for="itemName">Item Name: </label>
                            <input type='text' id='itemName' name='itemName' required='' v-model="editing.name" style="width:75%"><br><br>
                            <div class="_quantity">Item Desc: </div>
                            <textarea type='text' id='itemDesc' name='itemDesc' v-model="editing.description" style='min-width: 100%; border: solid 1px black;' required=''></textarea><br><br>
                            <label for="itemPrice">Price: </label>
                            <input type="text" name="itemPrice" v-model="editing.price" id="itemPrice" style="width:25%" pattern="\d+(\.\d{2})?" data-type="currency"  required=''>
                            <small>Format: x.xx</small><br><br>
                            <label for="itemCategory">Category: </label>
                            <select id="itemCategory" v-model="editing.menu_category" class="itemCategory"style="width:50%" required="">
                                <template v-for="t in types">
                                    <template v-if="t.id == editing.menu_category">
                                        <option selected>{{ t.name }}</option>
                                    </template>
                                    <template v-else>
                                        <option >{{ t.name }}</option>
                                    </template>
                                    
                                </template>
                            </select>
                            <div class="picture">Picture?
                            <input type="file" @change="uploadImageEdit" id="img" name="img" accept="image/*">
                            </div>
                            </form>
                        </template>
                    </div>
            
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-lg btn-danger" data-dismiss="modal">Discard Changes</button>
                        <button v-on:click="saveChanges" type="submit" class="btn btn-lg btn-primary" data-dismiss="modal">Save Changes</button>
                    </div>
                </div>
                </div>
            </div>

            <!-- Remove Item Modal-->
            <template v-if="isRemove">
                <template v-for="item in removeItemData">
                <!-- Remove Item Modal -->
                <div class="modal" id="confirmModal">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        
                        <!-- Modal Header -->
                        <div class="modal-header">
                        <h4 class="modal-title">Remove Item?</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                
                        <!-- Modal body -->
                        <div class="modal-body">
                            <div>Are you sure you want to remove this item from the current menu?</div><br>
                                <div><b>Item Name: </b>{{ item.name }}</div>
                                <div><b>Description: </b>{{ item.description }}</div>
                                <div><b>Price: </b>{{ item.price }}</div>
                                <div><b>Category: </b>{{ getTypeName(item.menu_category)[0].name }}</div>                        
                        </div>
                
                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button v-on:click="removeItem(item.name)" type="submit" class="btn btn-lg btn-danger" data-dismiss="modal"  data-backdrop="false">Yes</button>
                            <button type="button" class="btn btn-lg btn-primary" data-dismiss="modal">No</button>
                        </div>
                    
                    </div>
                    </div>
                </div>
                </template>
            </template>
            
            <!-- Confirm Choice Modal-->
            <template v-else>
                <div class="modal" id="confirmModal">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        
                        <!-- Modal Header -->
                        <div class="modal-header">
                        <h4 class="modal-title">Save Changes?</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                
                        <!-- Modal body -->
                        <div class="modal-body">
                            <div>Are you sure you want to save the changes made to the menu?</div><br>
                        </div>
                
                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button v-on:click="saveMenu" type="submit" class="btn btn-lg btn-danger" data-dismiss="modal"  data-backdrop="false">Save</button>
                            <button type="button" class="btn btn-lg btn-primary" data-dismiss="modal">Back to Edit</button>
                        </div>
                    
                    </div>
                    </div>
                </div>
                </template>
            </template>

            <!-- New Category Modal -->
            <div class="modal" id="newCatModal">
                <div class="modal-dialog">
                <div class="modal-content">
                    
                    <!-- Modal Header -->
                    <div class="modal-header">
                    <h4 class="modal-title">New Category</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
            
                    <!-- Modal body -->
                    <div class="modal-body">
                        <form class="itemInfo" @submit.prevent="addNewCategory">
                            <label for="newCategory">New Category Name: </label>
                            <input type="text" name="newCategory" id="newCategory" style="width:25%" v-model="newCategoryName"  required=''>
                        

                    </div>
            
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-lg btn-primary" data-dismiss="modal">Back to Edit</button>
                        <button v-on:click="addNewCategory" type="submit" class="btn btn-lg btn-danger" data-dismiss="modal"  data-backdrop="false">Save</button>
                    </div>
                </form>
                </div>
                </div>
            </div>

            <!-- Edit Category Modal -->
            <div class="modal" id="editCatModal">
                <div class="modal-dialog">
                <div class="modal-content">
                    
                    <!-- Modal Header -->
                    <div class="modal-header">
                    <h4 class="modal-title">Edit Category</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
            
                    <!-- Modal body -->
                    <div class="modal-body">
                        <form class="itemInfo" @submit.prevent="editCategory">
                            <label for="newCategory">New Category Name: </label>
                            <input type="text" name="newCategory" id="newCategory" style="width:25%" v-model="editType.name" required=''>
                        

                    </div>
            
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-lg btn-primary" data-dismiss="modal">Back to Edit</button>
                        <button v-on:click="editCategory" type="submit" class="btn btn-lg btn-danger" data-dismiss="modal"  data-backdrop="false">Save</button>
                    </div>
                </form>
                </div>
                </div>
            </div>

            <!-- Remove Item Modal -->
            <div class="modal" id="removeCatModal">
                <div class="modal-dialog">
                <div class="modal-content">
                    
                    <!-- Modal Header -->
                    <div class="modal-header">
                    <h4 class="modal-title">Remove Item?</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
            
                    <!-- Modal body -->
                    <div class="modal-body">
                        <div>Are you sure you want to remove this category from the current menu?</div><br>
                            <template>
                                <div><b>Category Name: </b>{{ removeType.name }}</div>
                            </template>
                            
                                                    
                    </div>
            
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button v-on:click="removeCategory()" type="submit" class="btn btn-lg btn-danger" data-dismiss="modal"  data-backdrop="false">Yes</button>
                        <button type="button" class="btn btn-lg btn-primary" data-dismiss="modal">No</button>
                    </div>
                
                </div>
                </div>
            </div>


        </div>
    </div>
</body>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script>

    var logoutApp = new Vue ({
        el: '#logoutApp',
        delimiters: ['{{', '}}'],
        data: {

        },
        methods: {
            logoutUser: function() {
                axios
                    .post('http://127.0.0.1:8000/rest-auth/logout/', null)
                    .then((response) => {
                        sessionStorage.clear()
                        window.open("index.html", "_self")
                    }).catch( error => {console.log(error); return })
            } 
        }
    })

    var app = new Vue ({
        el: '#app',
        delimiters: ['{{', '}}'],
        data: {
            restaurant: { /* id, name */ },
            isRemove: false,
            isNew: false,
            editing: {id: '', name: '', description: '', price: '', menu_category: '', picture: '', active: true},
            newItem: {name: '', description: '', price: '', menu_category: '', picture: '', active: true},
            removeType: { id: '', name: ''},
            editType: { id: '', name: '' },
            oldItemName: '',
            removingItemName: '',
            newCategoryName: '',
            items: [
                // List of Menu Items
			    // item = { name, description, price, menu_category , pictures, order, active }
		    ],
		    types: [
                // List of Menu Categories
			    // type = { id, name, menu_item[] }
            ],
        },
        created() {
            var basicAuth = 'Basic ' + sessionStorage.getItem('btoa')
            axios.defaults.headers.common['Authorization'] = basicAuth

            this.restaurant = JSON.parse(sessionStorage.restaurant);

            axios
            .get('http://127.0.0.1:8000/menuItems/', { params: { restaurant: this.restaurant.id }})
            .then((response) => {
                this.items = response.data
            }).catch( error => {console.log(error); });
            
        axios
            .get('http://127.0.0.1:8000/menuCategories/', { params: {restaurant: this.restaurant.id }})
            .then((response) => {
                this.types = response.data
            }).catch(error => {console.log(error); return})         
        },
        computed: {
            removeItemData: function() {
                name = this.removingItemName
                return this.items.filter(function(item) {
                    if(item.name == name) {
                        return item;
                    }
                })
            },
            getEditingCategory: function() {
                return this.editing.menu_category
            }
        },
        methods: { 
            updateData: function() {
                axios
                    .get('http://127.0.0.1:8000/menuItems/', { params: { restaurant: this.restaurant.id }})
                    .then((response) => {
                        this.items = response.data
                    }).catch( error => {console.log(error); });
            
                axios
                    .get('http://127.0.0.1:8000/menuCategories/', { params: {restaurant: this.restaurant.id }})
                    .then((response) => {
                        this.types = response.data
                    }).catch(error => {console.log(error);})
            },
			itemsOfType: function(typeID) {
				return this.items.filter(function(item) {
					if(item.menu_category == typeID) {
						return item;
					};
				})
            },
            getItemData: function(itemName) {
                return this.items.filter(function(item) {
					if(item.name == itemName) {
						return item;
					};
				})
            },
            getTypeName: function(typeID) {
                return this.types.filter(function(t) {
                    if(t.id == typeID) {
                        return t
                    }
                })
            },
            seteditingItem: function(itemName) {
                item = this.getItemData(itemName)
                cat = item[0].menu_category
                this.editing = { id: item[0].id, name: item[0].name, description: item[0].description, price: item[0].price, menu_category: '', picture: null}
                isNew = false;
                this.oldItemName = item[0].name
            },
            saveChanges: function() { // Saves any item that has been edited
                axios.defaults.headers.common['Content-Type'] = "multipart/form-data"

                message = document.getElementById('message')
                var floatRegex = /^-?\d+(\.\d{2})?$/;

                if(this.editing.name == '') {
                    message.textContent = "Item name must be given"
                    message.style.color = "red"
                    return
                } else if(this.editing.description == '') {
                    message.textContent = "Item description must be given"
                    message.style.color = "red"
                    return
                } else if(this.editing.price == '') {
                    message.textContent = "Item price must be given"
                    message.style.color = "red"
                    return
                } else if(!floatRegex.test(this.editing.price)) {
                    message.textContent = "Item price must be in correct format 'x.xx'"
                    message.style.color = "red"
                    return
                } 
                
                itemIdx = this.items.findIndex(x => x.name == this.editing.name)

                
                if(itemIdx != -1 && this.items[itemIdx].id != this.editing.id) {
                    message.textContent = "Item with name '" + this.editing.name + "' already exists"
                    message.style.color = "red"
                    return
                }  
                
                let fd = new FormData()
                fd.append('name', this.editing.name)
                fd.append('description', this.editing.description)
                fd.append('price', this.editing.price)
                fd.append('active', true)

                item = this.getItemData(this.oldItemName);
                var idx = this.items.findIndex(x => x.name == this.oldItemName)

                if(this.editing.menu_category == '') {
                    type = this.items.filter(x => x.id == this.editing.id)[0].menu_category
                    fd.append('menu_category', type)
                     
                } else {
                    typeID = this.types.filter(x => x.name == this.editing.menu_category)[0].id
                    fd.append('menu_category', typeID)
                }

                if(this.editing.picture != null) { // If a new picture was added
                    fd.append('picture', this.editing.picture)
                }

                itemID = this.items[idx].id

                
                axios
                    .put('http://127.0.0.1:8000/menuItems/' + itemID + "/", fd)
                    .then((response) => {
                        this.items = response.data
                        this.updateData();
                    }).catch( error => {console.log(error); return })
                
                
                editedItem = { name: '', description: '', price: '', menu_category: '', picture: ''}

                message.textContent = "Item successfully edited"
                message.style.color = "greenyellow"
            },
            removeItem: function(itemName) {
                axios.defaults.headers.common['Content-Type'] = "multipart/form-data"

                var idx = this.items.findIndex(x => x.name == itemName)
                item = this.items[idx]
                let fd = new FormData()
                fd.append('name', item.name)
                fd.append('description', item.description)
                fd.append('price', item.price)
                fd.append('menu_category', item.menu_category)
                fd.append('active', false)

                axios
                    .put('http://127.0.0.1:8000/menuItems/' + item.id + '/', fd)
                    .then((response) => {
                        this.updateData()
                    }).catch( error => {console.log(error); return })

                this.isRemove = false
                return;
            },
            removeCategory: function() {
                typeInfo = this.types.filter(x => x.name == this.removeType.name)[0]
                console.log(typeInfo)

                if(typeInfo.menu_item.length == 0) {
                    axios
                        .delete('http://127.0.0.1:8000/menuCategories/' + typeInfo.id + '/')
                        .then((response) => {
                            this.updateData();
                        }).catch(error => {console.log(error); return })


                } else {
                    console.log("this category is NOT empty")
                    message = document.getElementById('message')
                    message.textContent = "Cannot remove non-empty Category: " + typeInfo.name + ". Remove items from category before deleting"
                    message.style.color = "red"
                }
                
            },
            editCategory: function() {
                typeIdx = this.types.findIndex(x => x.name == this.editType.name)

                if(typeIdx == -1) { // type with new name doesn't exist
                    typeID = this.editType.id
                    info = this.types.filter(x => x.id == typeID)[0]

                    data = { name: this.editType.name, menu_item: info.menu_item, restaurant: info.restaurant }

                    axios
                        .put('http://127.0.0.1:8000/menuCategories/' + info.id + "/", data)
                        .then((response) => {
                            this.updateData()
                        }).catch( error => {console.log(error); return })

                    
                    message = document.getElementById('message')
                    message.textContent = "Category name changed from: '" + info.name + "' to : '" + this.editType.name + "'"
                    message.style.color = "greenyellow"

                } else {
                    message = document.getElementById('message')
                    message.textContent = "Category with name: " + this.editType.name + " already exists"
                    message.style.color = "red"
                }
            },
            moveCategoryUp: function(name, type) {
                rows = this.types;
                var idx = rows.findIndex(x => x.name == name)
                rows.splice(idx - 1, 0, rows.splice(idx, 1)[0]);

            },
            moveCategoryDown: function(name, type) {
                rows = this.types;
                var idx = rows.findIndex(x => x.name == name)
                rows.splice(idx + 1, 0, rows.splice(idx, 1)[0]);
            },
            moveItemUp: function(type, itemName) {
                itemList = this.itemsOfType(type);
                var idx = itemList.findIndex(x => x.name == itemName)                
                if(idx == 0) {
                    return;
                }
                
                prevItem = itemList[idx-1].name 
                var previdx = this.items.findIndex(x => x.name == prevItem)
                var curridx = this.items.findIndex(x => x.name == itemName)
                this.items[previdx] = this.items.splice(curridx, 1, this.items[previdx])[0]
            },
            moveItemDown: function(type, itemName) {
                itemList = this.itemsOfType(type);
                var idx = itemList.findIndex(x => x.name == itemName)                
                if(idx == itemList.length-1) {
                    return;
                }
                
                nextItem = itemList[idx+1].name 
                var nextidx = this.items.findIndex(x => x.name == nextItem)
                var curridx = this.items.findIndex(x => x.name == itemName)
                this.items[curridx] = this.items.splice(nextidx, 1, this.items[curridx])[0]
            },
            setRemoveItem: function(name) {
                this.removingItemName = name
                this.isRemove = true
            },
            setEditingCategory: function(name) {
                this.editType.id = this.types.filter(x => x.name == name)[0].id
                this.editType.name = name
            },
            setRemoveCategory: function(name) {
                this.removeType.id = this.types.filter(x => x.name == name)[0].id
                this.removeType.name = name
                this.isRemove = true
            },
            saveMenu: function() {
                axios.defaults.headers.common['Content-Type'] = "multipart/form-data"
                
                // put items to server
                for(i = 0; i < this.items.length; i++) {

                    let fd = new FormData()
                    fd.append('name', this.items[i].name)
                    fd.append('description', this.items[i].description)
                    fd.append('price', this.items[i].price)
                    fd.append('menu_category', this.items[i].menu_category)
                    fd.append('active', true)
                    fd.append('order', i+1)

                    axios
                        .put('http://127.0.0.1:8000/menuItems/' + this.items[i].id + "/", fd)
                        .then((response) => {
                            console.log(response.data)
                        }).catch( error => {console.log(error); return})
                }

                axios.defaults.headers.common['Content-Type'] = "text/html"

                for(j = 0; j < this.types.length; j++) {
                    // put types to server

                    type = this.types[j]
                    type.order = j+1

                    axios
                        .put('http://127.0.0.1:8000/menuCategories/' + this.types[j].id + "/", type)
                        .then((response) => {
                            console.log(response.data)
                        }).catch( error => {console.log(error); return })
                }
            },
            addNewItem: function() {
                axios.defaults.headers.common['Content-Type'] = "multipart/form-data"

                message = document.getElementById('message')
                var floatRegex = /^-?\d+(\.\d{2})?$/;

                if(this.newItem.name == '') {
                    message.textContent = "Item name must be given"
                    message.style.color = "red"
                    return
                } else if(this.newItem.description == '') {
                    message.textContent = "Item description must be given"
                    message.style.color = "red"
                    return
                } else if(this.newItem.price == '') {
                    message.textContent = "Item price must be given"
                    message.style.color = "red"
                    return
                } else if(!floatRegex.test(this.newItem.price)) {
                    message.textContent = "Item price must be in correct format 'x.xx'"
                    message.style.color = "red"
                    return
                } else if(this.newItem.menu_category == '') {
                    message.textContent = "Item category must be given"
                    message.style.color = "red"
                    return
                }

                typeIdx = this.types.findIndex(x => x.name == this.newItem.menu_category)
                itemIdx = this.items.findIndex(x => x.name == this.newItem.name)

                let fd = new FormData()
                fd.append('name', this.newItem.name)
                fd.append('description', this.newItem.description)
                fd.append('price', this.newItem.price)
                fd.append('menu_category', this.types[typeIdx].id)
                fd.append('picture', this.newItem.picture)
                fd.append('active', true)

                
                if(itemIdx == -1) { // item with same name is not in item list
                    
                    axios
                        .post('http://127.0.0.1:8000/menuItems/', fd)
                        .then((response) => {
                            this.updateData();
                        }).catch( error => { console.log(error); return; })
                    
                    message = document.getElementById('message')
                    message.textContent = "Item with name '" + this.newItem.name + "' successfully created in Category: '" + this.types[typeIdx].name + "' !"
                    message.style.color = "greenyellow"

                    this.newItem = { name: '', description: '', price: '', menu_category: '' , picture: ''}                
                    isNew = false
                    
                } else {
                    oldItemTypeID = this.items[itemIdx].menu_category
                    oldType = this.types.filter(x => x.id == oldItemTypeID)[0].name

                    message = document.getElementById('message')
                    message.textContent = "Item with name '" + this.items[itemIdx].name + "' already exists in Category: '" + oldType + "'"
                    message.style.color = "red"
                    this.newItem = { name: '', description: '', price: '', menu_category: '' , picture: '', active: true}              
                    isNew = false
                }    
            },
            addNewCategory: function() {
                axios.defaults.headers.common['Content-Type'] = "multipart/form-data"
                
                categoryName = this.newCategoryName
                var type = this.types.findIndex(x => x.name == categoryName)

                let fd = new FormData()
                fd.append('name', categoryName)
                fd.append('restaurant', this.restaurant.id)


                if(type == -1) { // name is not in type list
                    
                    axios
                        .post('http://127.0.0.1:8000/menuCategories/', { name: categoryName, menu_item: [], restaurant: this.restaurant.id })
                        .then((response) => {
                            this.updateData();
                        }).catch( error => {console.log(error); 
                            if (error.response) {
                                console.log(error.response.data);
                                console.log(error.response.status);
                                console.log(error.response.headers);
                            } else if (error.request) {
                                console.log(error.request);
                            } else {
                                console.log('Error', error.message);
                            }
                            console.log(error.config);return })
                    
                   message = document.getElementById('message')
                   message.textContent = "Category '" + categoryName + "' successfully created"
                   message.style.color = "greenyellow"
                } else {
                    message = document.getElementById('message')
                    message.textContent = "Category with name '" + categoryName + "' already exists."
                    message.style.color = "red"
                }
            },
            uploadImage(e) {
                this.newItem.picture = e.target.files[0]
            },
            uploadImageEdit(e) {
                this.editing.picture = e.target.files[0]
            },
        },
    })

    window.onbeforeunload = function(){
            return "Are you sure you want to close the window?";
}

</script>


<style>
body {
    background-image: url("templates/pictures/background-texture.jpg");
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; 
}

.title {
	font-style: normal; 
	font-variant: normal;
    font-size: 50px;
    position: relative;
    color: white;
    margin-top: 2%;
    text-align: center;
    text-shadow:  2px 2px black;
}

.container {
    position: relative;
    border-radius: 20px;
    padding: 5px;
}

.table {
    background-color: white;
    border-radius: 20px;
}

.modal-backdrop {
    opacity:75% !important;
	height: 100%;
	width: 100%;
}

.categoryTitle {
	font-style: normal; 
	font-variant: normal;
    font-size: 25px;
    position: relative;
    color: white;
    margin-top: 2%;
    text-align: center;
}
</style>
</html>