<!-- Current Customers Orders Page (Waiter view) for Waiter App/Site -->
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Courgette&display=swap" rel="stylesheet">
    <title>Waiter - UNSW Cafe</title>
</head>

<body>
    <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
    <df-messenger
    intent="WELCOME"
    chat-title="UNSW Cafe"
    agent-id="32b538a5-fe56-4ab0-9391-3f2c0f24fc36"
    language-code="en"
    ></df-messenger>
    <div class="title2">
        <h1>Orders for UNSW Cafe</h1>
        <h5>Waiter View</h5>
    </div>
    <div class="container" style="overflow-x:auto;">   
        <!-- Navbar -->
        <ul class="nav nav-pills nav-justified" id="pills-tab" role="tablist">
            <li class="nav-item pill-1">
                <a class="nav-link active" id="waiter-tab" data-toggle="pill" href="#waiter" role="tab" aria-controls="waiter" aria-selected="true">Waiter</a>
            </li>
            <li class="nav-item pill-1">
                <a class="nav-link" id="menu-tab" data-toggle="pill" href="#menu" role="tab" aria-controls="menu" aria-selected="false">Menu</a>
            </li>
        </ul>
        <hr>

        <!-- Content Section -->
        <div class="tab-content" id="pills-tabContent">

        <!-- Waiter Tab -->
        <div class="tab-pane fade show active" id="waiter" role="tabpanel" aria-labelledby="waiter-tab">
            <h5><i>Call Outs</i></h5>
            <table id="calloutsapp" class="table table-sm table-borderless table-striped table-hover display nowrap">
                <thead>
                  <tr>
                    <th style="width: 25%">Table Number</th>
                    <th style="width: 25%">Caller</th>
                    <th style="width: 25%">Status</th>
                    <th class="text-center" style="width: 25%">Change Status</th>
                  </tr>
                </thead>
                <!-- Start of table, dynamic space-->
                <tbody>
                    <template v-for="(item,index) in items">
                        <tr>
                            <td class="align-middle">
                                {{ item.tablenumber }}
                            </td>
                            <td class="align-middle">
                                {{ item.caller }}
                            </td>
                            <td class="align-middle">
                                {{ item.status }}
                            </td>
                            <td class="text-center align-middle" nowrap>
                                <button v-on:click.prevent="rowRemove(index)" type="button" class="btn btn-success">Completed</button>
                            </td>
                        </tr>
                        </template>
                </tbody>
              </table>
            <hr>
            <h5><i>Active Orders</i></h5>
            <table id="activeordersapp" class="table table-sm table-borderless table-striped table-hover display nowrap">
                <thead>
                <tr>
                    <th style="width: 25%">Table Number</th>
                    <th style="width: 25%">Status</th>
                    <th style="width: 50%">Order Details</th>
                </tr>
                </thead>
                <!-- Start of table, dynamic space-->
                <tbody>
                    <template v-for="item in items">
                        <tr>
                            <td class="align-middle">
                                {{ item.tablenumber }}
                            </td>
                            <td class="align-middle">
                                {{ item.status }}
                            </td>
                            <td class="align-middle">
                                Ordered at: {{ item.ordertime }}
                                <li v-for="dish in item.orderdetails">
                                    {{ dish }}
                                </li>
                            </td>
                        </tr>
                        </template>
                </tbody>
            </table>
        </div>

        <!-- Menu Tab -->
        <div class="tab-pane fade" id="menu" role="tabpanel" aria-labelledby="menu-tab">
            <table id="menuapp" class="table table-sm table-borderless table-striped table-hover display nowrap">
                <thead>
                    <tr>
                    <th style="width: 15%">Item</th>
                    <th style="width: 75%">Description</th>
                    <th style="width: 10%">Price</th>
                    </tr>
                </thead>
                <!-- Start of table, dynamic space-->
                <tbody>
                    <template v-for="item in items">
                        <tr>
                            <td>{{ item.name }}</td>
                            <td>{{ item.description }}</td>
                            <td>${{ item.price }}</td>
                        </tr>
                        </template>
                </tbody>
                </table>
        </div>
        
        </div>
</body>

<!--Boostrap required script-->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<!--Other required script-->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

<script>
    var calloutsapp = new Vue ({
        el: '#calloutsapp',
        delimiters: ['{{', '}}'],
        data: {
            items: [
                // get set of items here 
                { tablenumber: 'Table 1', caller: 'Kitchen', status: 'Order #XXX ready for pick up'},
                { tablenumber: 'Table 10', caller: 'Customer', status: 'Customer requires attention'},
                { tablenumber: 'Table 6', caller: 'Kitchen', status: 'Order #XXX ready for pick up'},
                { tablenumber: 'Table 4', caller: 'Kitchen', status: 'Order #XXX ready for pick up'},
                { tablenumber: 'Table 12', caller: 'Customer', status: 'Customer requires attention'},
            ],
        },
        methods: {
            rowRemove: function (index) {
                this.$delete(this.items, index)
            }
        }
    })

    var activeordersapp = new Vue ({
        el: '#activeordersapp',
        delimiters: ['{{', '}}'],
        data: {
            items: [
                // get set of items here 
                { tablenumber: 'Table 1', status: 'Pickup Ready', ordertime: '##:##PM', orderdetails: ['Item1','Item2']},
                { tablenumber: 'Table 2', status: 'Pickup Ready', ordertime: '##:##PM', orderdetails: ['Item1','Item2']},
                { tablenumber: 'Table 3', status: 'Cooking', ordertime: '##:##PM', orderdetails: ['Item1','Item2']},
                { tablenumber: 'Table 4', status: 'Cooking', ordertime: '##:##PM', orderdetails: ['Item1','Item2']},
                { tablenumber: 'Table 5', status: 'Preparing', ordertime: '##:##PM', orderdetails: ['Item1','Item2']},
                { tablenumber: 'Table 6', status: 'Preparing', ordertime: '##:##PM', orderdetails: ['Item1','Item2']},
                { tablenumber: 'Table 7', status: 'Order Received', ordertime: '##:##PM', orderdetails: ['Item1','Item2']},
                { tablenumber: 'Table 8', status: 'Order Received', ordertime: '##:##PM', orderdetails: ['Item1','Item2']},
            ],
        }
    })

    var menuapp = new Vue ({
        el: '#menuapp',
        delimiters: ['{{', '}}'],
        data: {
            items: [
                // get set of items here 
                { name: 'test1', description: 'Description of test1', price: '2.50', category: 'Breakfast'},
                { name: 'test2', description: 'Description of test2', price: '5.00', category: 'Lunch'},
                { name: 'test3', description: 'Description of test3', price: '3.75', category: 'Dinner'},
                { name: 'test4', description: 'Description of test4', price: '10.00', category: 'Breakfast'},
                { name: 'test5', description: 'Description of test5', price: '11.00', category: 'Lunch'},
                { name: 'test6', description: 'Description of test6', price: '4.75', category: 'Dinner'},
            ],
        }

    })

</script>



<style>
body {
    background-color: #6f42c1;
}

.title {
    font-family: 'Courgette', cursive; 
	font-style: normal; 
	font-variant: normal;
    font-size: 50px;
    position: relative;
    color: white;
    margin-top: 5%;
    text-align: center;
    text-shadow:  2px 2px black;
}

.title2 {
    font-family: 'Courgette', cursive; 
	font-style: normal; 
	font-variant: normal;
    font-size: 40px;
    position: relative;
    color: white;
    text-align: center;
    text-shadow:  2px 2px black;
}


.container {
    background-color: #ECEFF1;
    position: relative;
    border-radius: 20px;
    padding: 5px;
}

.changeScreens {
    position: absolute;
    left: 50%;
    width: 400px;
    transform: translate(-50%, -50%);
}

a {
    color: red;
}

.nav-pills .pill-1 .nav-link:not(.active) {
    background-color: rgb(255, 255, 255);
    color: red;
}

.nav-pills .pill-1 .nav-link {
    background-color: red;
    color: white;
}

</style>

</html>
